main{
    padding-top: 10%;
}

main article{
    background-color: #F9F9F9;
    border-radius: 1%;
    border: 1px solid #BFBFBF;
    box-shadow: 10px 10px 5px #aaaaaa;
    width: 30%;
    padding: 20px;
    display: inline-block;
  

}
#div2{
    margin: 28px;
}